nav {
    background-color: #202020;
    margin: -20px -8px -20px -8px;
}
.text-white {
    color: white;
}
.text-center {
    text-align: center;
}
ul {
    list-style-type: none;
}
li {
    display: inline-block;
    padding: 5px;
}
.image-border {
    border-style: solid;
    border-color: black;
    border-width: 2px;
    border-radius: 10%;
}
.bg-1 {
    background-image: url("images/Skyline.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: scroll;
    font-family: 'Courier New', Courier, monospace;
    color: white;
    text-align: center;
    padding: 70px 0px 150px 0px;
    margin: 0px -8px 0px -8px;
}  
.bg-2 {
    text-align: center;
    padding: 50px 0px 50px 0px;
}
.text-padding {
    padding: 0px 30px 0px 30px;
}
.bg-4 {
    background-color:whitesmoke;
    padding: 90px 0px 90px 0px;
    margin: 0px -8px 0px -8px;
}
.bg-5 {
    color: white;
    background-color: #202020;
    text-align: center;
    padding: 30px 0px 20px 0px;
    margin: 1px -8px -10px -8px;
}
.grid-container {
    display: grid;
    grid-auto-flow: column;
}
.grid-item {
    display: flex;
    align-items: center;
    justify-content: center;
}
.icon-img {
    width: 100px;
    height: 100px;
}
.btm-padding {
    padding-bottom: 50px;
}

